body {
background: #DEB887;
font-family: Arial, Helvetica, sans-serif;
}
h1 {
color: white;
text-align: center;
}
.about {
  color: white;
  background-color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
 color: #00FFFF;
}
.skills {
 color: #6495ED;
}
.projects {
 color: #FFF8DC;
}
.contact {
 color: #9400D3;
}
